/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.page-title {
    font-weight: 600 !important;
    font-size: 28px !important;
    line-height: 33.6px !important;
    color: #000 !important;
}

.ant-table-thead .ant-table-cell{
    background-color:#be123c !important;
}

.ant-modal-content {
    padding: 0 !important;
}

.ant-modal-header {
    background-color: #e11d48 !important;
    padding: 18px 24px !important;
}

.ant-modal-title {
    color: white !important;
}

.ant-modal-close-x {
    color: white !important;
}

.ant-modal-body {
    padding: 18px 24px !important;
}

.ant-modal-footer {
    padding: 18px 24px !important;
}

